[defaults]
# Inventario principal
inventory = inventories/hosts.yml

# Desactiva comprobación de SSH
host_key_checking = False

# Limpia advertencias de versiones mas nuevas
deprecation_warnings = False

# Evita archivos .retry
retry_files_enabled = False

# Salida más legible
stdout_callback = yaml

# Timeout general
timeout = 30

[privilege_escalation]
become = True
become_method = enable
become_user = root
